---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {%- if page.tags -%}
      • <span>Tags: {{ page.tags | join: ', ' }}</span>
      {%- endif -%}
    </p>

    {%- if page.revisions -%}
    <p class="post-revision">
      <table>
        <thead>
          <th>Commit</th>
          <th>Date</th>
          <th>Commit Message</th>
          <th></th>
        </thead>
        <tbody>
        {%- for revision in page.revisions -%}
          <tr>
            <td><code><a href="https://github.com/andelf/andelf.github.io/commit/{{ revision.hash }}">{{ revision.hash }}</a></code></td>
            <td>{{ revision.date }}</td>
            <td>{{ revision.message }}</td>
            <td><a href="https://github.com/andelf/andelf.github.io/blob/{{ revision.hash }}/{{ page.path}}">View this version</a></td>
          </tr>
          {%- endfor -%}
          </tbody>
      </table>
    </p>
    {%- endif -%}

    {%- if page.image -%}
    <p class="post-headimage">
      <img src="{{ page.image}}" alt="thumbnail" width="100%" />
    </p>
    <hr />
    {%- endif -%}
    <div class="table-of-contents">
      {% toc %}
    </div>
    <hr />
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% if site.disqus.shortname %}
{% include disqus_comments.html %}
{% endif %}
{% include mathjax.html %}
